# List

In [1]:
# 1. Write a Python program to sum all the items in a list.
lst = [1,2,3,4,5,6,6,7,7]
print(sum(lst))

41

In [2]:
# 2. Write a Python program to multiplies all the items in a list.
mul = 1
for i in lst:
    mul *= i
print(mul)

211680

In [3]:
# 3. Write a Python program to get the smallest number from a list.
print(min(lst))

1

In [4]:
# 4. Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings.
# Sample List : ['abc', 'xyz', 'aba', '1221'] Expected Result : 2
sample_list = ['abc', 'xyz', 'aba', '1221']
count = 0
for i in sample_list:
    if len(i) >= 2 and i[0] == i[-1]:
        count += 1
print(count)

2

In [5]:
# 5. Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.
# Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)] Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]
sample_list = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
print(sorted(sample_list, key=lambda x: x[-1]))

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [6]:
# 6. Write a Python program to remove duplicates from a list.
print(set(lst))

lst1 = []
for i in lst:
    if i not in lst1:
        lst1.append(i)
print(lst1)

{1, 2, 3, 4, 5, 6, 7}
[1, 2, 3, 4, 5, 6, 7]

In [8]:
# 7. Write a Python program to clone or copy a list.
lst1 = lst.copy()
print(lst1)

lst2 = []
for i in lst:
    lst2.append(i)
print(lst2)

[1, 2, 3, 4, 5, 6, 6, 7, 7]
[1, 2, 3, 4, 5, 6, 6, 7, 7]

In [9]:
# 8. Write a Python program to find the list of words that are longer than n from a given list of words.
sample_list = ['abc', 'xyz', 'aba', '1221']
n = 1
lst3 = []
for i in sample_list:
    if len(i) > 3:
        lst3.append(i)
print(lst3)

['1221']

In [10]:
# 9. Write a Python function that takes two lists and returns True if they have at least one common member.
lst4 = [1, 3, 5, 7, 9, 0]
lst5 = [1, 3, 6, 8, 4, 6]
if any(item in lst4 for item in lst5):
    print(True)

True

In [11]:
# 10. Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.
# Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow'] Expected Output : ['Green', 'White', 'Black']
sample_list = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
indices = [0,4,5]
print([sample_list[i] for i in range(len(sample_list)) if i not in indices])

['Green', 'White', 'Black']

In [12]:
# 11. Write a Python program to generate all permutations of a list in Python.
import itertools
lst7 = [1,2,3,4,5,6]
print(list(itertools.permutations(lst7,2)))

for i in lst7:
    for j in lst7:
        print([i,j], end = ' ')

[(1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (2, 1), (2, 3), (2, 4), (2, 5), (2, 6), (3, 1), (3, 2), (3, 4), (3, 5), (3, 6), (4, 1), (4, 2), (4, 3), (4, 5), (4, 6), (5, 1), (5, 2), (5, 3), (5, 4), (5, 6), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5)]
[1, 1] [1, 2] [1, 3] [1, 4] [1, 5] [1, 6] [2, 1] [2, 2] [2, 3] [2, 4] [2, 5] [2, 6] [3, 1] [3, 2] [3, 3] [3, 4] [3, 5] [3, 6] [4, 1] [4, 2] [4, 3] [4, 4] [4, 5] [4, 6] [5, 1] [5, 2] [5, 3] [5, 4] [5, 5] [5, 6] [6, 1] [6, 2] [6, 3] [6, 4] [6, 5] [6, 6]

In [13]:
# 12. Write a Python program to get the difference between the two lists.
lst8 = [1,2,3,4,5,6,7,8,9]
lst9 = [4,5,6,8,9]
lst10 = []
for i in lst8:
    if i not in lst9:
        lst10.append(i)
print(f"\n{lst10}")

[1, 2, 3, 7]

In [14]:
# 13. Write a Python program to append a list to the second list.
for i in lst9:
    lst8.append(i)
print(lst8)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 4, 5, 6, 8, 9]

In [15]:
# 14. Write a python program to check whether two lists are circularly identical.
lst11 = [1, 2, 3, 4, 5]
lst12 = [2, 3, 4, 5, 1]
lst13 = lst11 * 2
if str(lst12)[1:-1] in str(lst13)[1:-1]:
    print(True)
else:
    print("lists are not circularly identical")

True

In [16]:
# 15. Write a Python program to find common items from two lists.
lst14 = []
for i in lst8:
    if i in lst11:
        lst14.append(i)
print(list(set(lst14)))

[1, 2, 3, 4, 5]

In [17]:
# 16. Write a Python program to split a list based on first character of word.
lst15 = ["apple", "banana", "apricot", "blueberry", "cherry", "avocado", "carrot"]
dictionary = {}
for i in lst15:
    if i[0] not in dictionary:
        dictionary[i[0]] = [i]
    else:
        dictionary[i[0]].append(i)
for k,v in dictionary.items():
    print(v)

['apple', 'apricot', 'avocado']
['banana', 'blueberry']
['cherry', 'carrot']

In [18]:
# 17. Write a Python program to remove duplicates from a list of lists.
# Sample list : [[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]] New List : [[10, 20], [30, 56, 25], [33], [40]]
sample_list = [[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]]
for i in sorted(sample_list):
    if sample_list.count(i) > 1:
        sample_list.remove(i)
print(sorted(sample_list))

[[10, 20], [30, 56, 25], [33], [40]]