# Sets

In [1]:
# 1. Write a Python program to create a set.
sets = {'apple', "orange", 'banana', 'berry', 'apple', 'banana'}
print(sets)

{'orange', 'apple', 'berry', 'banana'}

In [2]:
# 2. Write a Python program to iteration over sets.
for i in sets:
    print(f"{i}")

for index, fruit in enumerate(sets):
    print(f"{index} = {fruit}")

orange
apple
berry
banana
0 = orange
1 = apple
2 = berry
3 = banana

In [3]:
# 3. Write a Python program to add member(s) in a set.
sets.add("guava")
print(sets)

{'berry', 'apple', 'guava', 'banana', 'orange'}

In [4]:
# 4. Write a Python program to remove item(s) from set
sets.remove("guava")
print(sets)

{'berry', 'apple', 'banana', 'orange'}

In [5]:
# 5. Write a Python program to remove an item from a set if it is present in the set.
item = 'berry'
if item in sets:
    sets.remove(item)
    print(sets)
else:
    print(f"{item} is not in sets")

{'apple', 'banana', 'orange'}

In [6]:
# 6. Write a Python program to create an intersection of sets.
sets1 = {"tomato", "potato", "brinjal", "apple", "banana"}
print(sets.intersection(sets1))

{'apple', 'banana'}

In [7]:
# 7. Write a Python program to create a union of sets.
print(sets.union(sets1))

{'potato', 'apple', 'brinjal', 'banana', 'orange', 'tomato'}

In [8]:
# 8. Write a Python program to create set difference.
print(sets.difference(sets1))
print(sets - sets1)

{'orange'}
{'orange'}

In [9]:
# 9. Write a Python program to create a symmetric difference.
print(sets.symmetric_difference(sets1))

{'orange', 'potato', 'tomato', 'brinjal'}

In [10]:
# 10. Write a Python program to clear a set.
print(sets1.clear())

None

In [11]:
# 11. Write a Python program to use of frozensets.
# a. Using `frozenset` as a Dictionary Key
schedule = {frozenset(["Monday", "Tuesday"]): "Workdays"}
print("Dictionary with frozenset key:", schedule)

Dictionary with frozenset key: {frozenset({'Tuesday', 'Monday'}): 'Workdays'}

In [12]:
# b. Preventing Accidental Modification
days = frozenset(["Monday", "Tuesday", "Wednesday"])
print("Immutable set:", days)

Immutable set: frozenset({'Wednesday', 'Tuesday', 'Monday'})

In [13]:
# c. Set Operations (Union, Intersection, Difference)
set1 = frozenset([1, 2, 3, 4])
set2 = frozenset([3, 4, 5, 6])
print("Union:", set1 | set2)
print("Intersection:", set1 & set2)
print("Difference:", set1 - set2)

Union: frozenset({1, 2, 3, 4, 5, 6})
Intersection: frozenset({3, 4})
Difference: frozenset({1, 2})

In [14]:
# d. Using `frozenset` in Function Arguments (for Safety)
def process_data(data: frozenset):
    print("Processing:", data)
process_data(frozenset(["A", "B", "C"]))

Processing: frozenset({'A', 'C', 'B'})

In [15]:
# e. Using `frozenset` in Data Structures
nested_set = {frozenset([1, 2, 3]), frozenset([4, 5, 6])}
print("Set of frozensets:", nested_set)

Set of frozensets: {frozenset({1, 2, 3}), frozenset({4, 5, 6})}

In [16]:
# f. Preventing Duplicates in Unordered Data
unique_sets = {frozenset([1, 2]), frozenset([2, 1]), frozenset([3, 4])}
print("Unique frozensets:", unique_sets)

Unique frozensets: {frozenset({3, 4}), frozenset({1, 2})}

In [17]:
# 12. Write a Python program to find maximum and the minimum value in a set.
print(max(sets))
print(min(sets))

orange
apple