## Tuple

In [1]:
# 1. Write a Python program to create a tuple.
tuples = (1, 2, 3, 4, 5)
print(tuples)

(1, 2, 3, 4, 5)

In [2]:
# 2. Write a Python program to create a tuple with different data types.
tuples = (1, 'ab', 2.05, [1,2,3])
print(tuples)

(1, 'ab', 2.05, [1, 2, 3])

In [4]:
# 3. Write a Python program to unpack a tuple in several variables.
a, b, c, d = tuples
print(a)
print(b)
print(c)
print(d)

1
ab
2.05
[1, 2, 3]

In [7]:
# 4. Write a Python program to create the colon of a tuple.
from copy import deepcopy
tuples1 = deepcopy(tuples)
print(tuples1)

(1, 'ab', 2.05, [1, 2, 3])

In [10]:
# 5. Write a Python program to find the repeated items of a tuple.
tuple2 = [ 1, 2, 2, 'ab', 'bc', 'bc', 2.05, 1.05, [1,2], [1,2], [1,2,3] ]
lst = []
for i in tuple2:
  if tuple2.count(i) > 1 and i not in lst:
    lst.append(i)
print(tuple(lst))

(2, 'bc', [1, 2])

In [11]:
# 6. Write a Python program to check whether an element exists within a tuple.
element = 'ab'
if element in tuple2:
  print(f"The element {element} is in tuple at index {tuple2.index(element)}")

The element ab is in tuple at index 3

In [12]:
# 7. Write a Python program to convert a list to a tuple.
lst = [1, 2, 'an']
print(tuple(lst))

(1, 2, 'an')

In [13]:
# 8. Write a Python program to remove an item from a tuple.
lst1 = list(tuple2)
element_to_remove = 'ab'
if element_to_remove in lst1:
  lst1.remove(element_to_remove)
print(tuple(lst1))

(1, 2, 2, 'bc', 'bc', 2.05, 1.05, [1, 2], [1, 2], [1, 2, 3])

In [16]:
# 9. Write a Python program to slice a tuple.
print(tuple2[1:11:2])

[2, 'ab', 'bc', 1.05, [1, 2]]

In [17]:
# 10. Write a Python program to reverse a tuple.
print(tuple2[::-1])

[[1, 2, 3], [1, 2], [1, 2], 1.05, 2.05, 'bc', 'bc', 'ab', 2, 2, 1]